h1 {
    background-color: red;   
}

.service01 {
    display: flex;    
}

.service01-text {
    width: 30%;
}


.product-list {
    display: flex;
}

.product-item {
    width: 25%;
    border: solid 1px black;
}
